<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul>
        <% for (let item of data) { %>
            <li><%=item.announcement_title%></li>
        <% } %>
    </ul>

    <script>
        const user = window.localStorage.getItem('user')
        const id = JSON.parse(user).user.user_id
        console.log(id);
        


    </script>
</body>
</html>