<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Turbo.uz</title>
</head>
<body>

    <header class="header">
        <div class="container header__container">
            <a class="header-logo" href="/">
                <img src="/images/logo.png" alt="" width="200" height="60">
            </a>

            <ul class="header-list">
                <li class="header-item">
                    <a class="header-link" href="/">Bosh sahifa</a>
                </li>

                <li class="header-item">
                    <a class="header-link" href="/announcements">E'lonlar</a>
                </li>

                <li class="header-item">
                    <a class="header-link" href="/announce">E'lon berish</a>
                </li>

                <li class="nav-item block">
                    <button class="item-btn">logout</button>
                </li>

            </ul>
            <button class="item-hamburger-nav">
                <img class="item-menu-img" src="/images/menu_icon.png" alt="" width="25" height="25">
            </button>
        </div>
    </header>

    <section class="post">
        <div class="container">
            <h1 class="post-title">E'lon berish</h1>
            <form class="post-form"  method="POST"
            enctype="multipart/form-data"
            >

            <h3 class="post-mini-title">Batafsil tavsiflab bering</h3>

            <label >
                <p class="post-nameLabel">Mashinaning nomi*</p>
                <input class="post-name" type="text" name="title" required placeholder="Masalan, Tesla">
            </label>
            <label >
                <p class="post-nameLabel">Turini tanlang*</p>
                <select class="post-select" name="cars_type">
                    <% for (let item of category) { %>
                        <option class="post-option" value="<%= item.category_id %>"><%= item.category_name %></option>
                        <% } %>
                    </select>
                </label>


                <p class="post-photo-text">Rasm joylash majburiy*</p>
                <label class="post-photo">
                    <p class="">Rasm joylang*</p>
                    <input class="visually-hidden" type="file" name="photo" required>
                </label>
                <label>
                    <p class="post-price-label">Kunlik mashina narxini yozing. Mahina narxi faqat dollarda*</p>
                    <input class="post-price" type="number" name="price" required placeholder="Masalan, 300 000">
                </label>
                <label>
                    <p class="post-content-label">Ta'rifi*</p>
                    <textarea class="post-content" name="content" id="" cols="30" rows="7" placeholder="Ta'rifi" required></textarea>
                </label>
                <label>
                    <p class="post-tel-number">Telefon raqamingiz*</p>
                    <input class="post-number" type="tel" name="phone" required placeholder="Phone number">
                </label>

                <button class="post-btn">Submit</button>
            </form>
        </div>
    </section>

    <script>
        const btn = document.querySelector('.item-btn')
        const block = document.querySelector('.block')
        const select = document.querySelector('.post-select')
        const image = document.querySelector('.visually-hidden')
        const title = document.querySelector('.post-name')
        const content = document.querySelector('.post-content')
        const phoneNumber = document.querySelector('.post-number')
        const price = document.querySelector('.post-price')
        const saveBtn = document.querySelector('.post-btn')

        const ElForm = document.querySelector('.post-form')

        const user = window.localStorage.getItem('user')

        btn.addEventListener('click', (e) => {
            window.localStorage.removeItem('user')
            window.location.href = '/'
        })

        if (!user) {
            block.style.display = 'none'
        }
        else {
            block.style.display = 'block'
        }

        if (!user) {
            window.location.href = '/login'
        }

        ElForm.addEventListener("submit", async e => {
            e.preventDefault()

            const formdata = new FormData()

            formdata.append("title", title.value);
            formdata.append("content", content.value);
            formdata.append("price", price.value);
            formdata.append("phone", phoneNumber.value);
            formdata.append("pathImg",  image.files[0]);
            formdata.append("type", select.value);
            formdata.append("user_id", JSON.parse(user).user.user_id);


            let requestOption = {
                method: 'POST',
                body: formdata,

            }

            const response = await fetch("http://localhost:4001/announce", requestOption)

            const data = await response.json()

            if(data){
                window.location.href = '/announcements'
            }


        })
        const elMenuToggler = document.querySelector('.item-hamburger-nav');
        const elMenu = document.querySelector('.header-list');

        elMenuToggler.addEventListener('click', function ()
        {
            elMenu.classList.toggle('header-list--open');
        });

    </script>
</body>
</html>